@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-glow {
  background: radial-gradient(circle at center, rgba(127, 19, 236, 0.25) 0%, rgba(25, 16, 34, 0) 70%);
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-gray-900 dark:text-gray-50 font-sans;
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }

  10% {
    opacity: 1;
    transform: translateY(0) scale(1.2);
  }

  20% {
    transform: translateY(0) scale(1);
  }

  80% {
    opacity: 1;
    transform: translateY(-50px);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.animate-float-up {
  animation: floatUp 3s ease-out forwards;
}